.popup__label {
  display: block;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 34px auto 54px auto;
}

@media screen and (min-width: 320px) and (max-width: 882px) {
  .popup__label {
    font-size: 18px;
    line-height: 22px;
    max-width: 185px;
  }
}
