.profile {
  padding-top: 74px;
  margin: 0 auto;
  max-width: 1280px;
  height: 626px;
}

.profile__user-name {
  margin: 0;
  max-width: 1280px;
  height: 29px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__data {
  margin: 0 auto;
  margin-top: 123px;
  max-width: 448px;
  display: flex;

}

.profile__data-list {
  width: 288px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile__data-user {
  width: 122px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile__data-list-item {
  padding-bottom: 17px;
  width: 288px;
  height: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  border-bottom: 1px solid #E8E8E8;
}

.profile__data-list-user {
  padding-bottom: 17px;
  width: 122px;
  height: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  text-align: end;
  border-bottom: 1px solid #E8E8E8;
}

.profile_pad {
  border-bottom: none;
  padding-top: 16px;
}

.profile__button {
  margin: 0 auto;
}