.popup__input {
  border: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 29.74px;
  width: 358px;
  /*min-height: 27.26px;*/
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

}

.popup__input:focus {
  outline: none;
}

@media screen and (min-width: 320px) and (max-width: 882px) {
  .popup__input {
    width: 200px;
    font-size: 12px;
    line-height: 15px;
  }
}
