.portfolio {
  margin: 0 auto;
  max-width: 1280px;
  height: 525px;
}

.portfolio__title {
  margin: 0 70px;
  padding-top: 100px;
  padding-bottom: 30px;
  margin-left: 70px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio__container-portfolio {
  margin: 0 70px;
  width: calc(100% - 70px - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio__container-text {
  margin: 0;
  padding: 0;
  padding-bottom: 19px;
  padding-top: 20px;
  width: calc(100vw - 70px - 70px);
  height: 50px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__container-link {
  padding-bottom: 19px;
  padding-top: 20px;
  width: 29px;
  height: 50px;
  background-image: url('../../images/strelka.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio_border-disable {
  border-bottom: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .portfolio {
    max-width: 768px;
    min-height: 464px;
  }
  .portfolio__title {
    padding-top: 90px;
    margin: 0 50px;
    padding-bottom: 50px;
    max-width: 668px;
  }
  .portfolio__container-portfolio {
    margin: 0 50px;
    width: calc(100% - 50px - 50px);
  }
  .portfolio__container-link {
    width: 27px;
    height: 50px;
  }
  .portfolio__container-text {
    font-size: 28px;
  }
}

