.promo {
  margin: 0 auto;
  max-width: 1280px;
  height: 560px;
  background-color: #073042;
  position: relative;
}

.promo__text {
  margin: 0;
  padding-top: 50px;
  padding-left: 70px;
  max-width: 626px;
  height: 104px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  color: #FFFFFF;
}

.promo__image {
  position: absolute;
  right: 70px;
  bottom: 60px;
  max-width: 722px;
  min-height: 244px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .promo {
    max-width: 1024px;
    min-height: 844px;
  }
  .promo__text {
    padding: 0;
    padding-top: 300px;
    margin: auto;
    display: block;
    text-align: center;
  }
  .promo__image {

    max-height: 230px;
    max-width: 680px;
    left:0;
    right:0;
    bottom: 70px;
    margin-left: auto;
    margin-right: auto;

  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .promo {
    max-width: 767px;
    min-height: 630px;
  }

  .promo__text {
    padding: 0;
    padding-top: 183px;
    margin: 0 auto;
    max-width: 300px;
    min-height: 117px;
    font-size: 31px;
    line-height: 39px;
    text-align: center;
  }

  .promo__image {
    height: 230px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left:0;
    right:0;
  }
}
