.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav-list {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.header__nav-item {
  width: 76px;
  height: 32px;
  margin-left: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: none;
  padding: 0;
}

.header__nav-item_registration {
  color: #FFFFFF;
  background: transparent;
}

.header__nav-item_registration:hover {
  cursor: pointer;
}

.header__nav-item_login {
  background: #2BE080;
  border-radius: 3px;
}

.header__nav-item_login:hover {
  cursor: pointer;
}

.header__nav-profile {
  width: 100px;
  height: 32px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(170, 170, 170, .2);
  box-sizing: border-box;
  border-radius: 50px;
}

.header__nav-profile-text {
  margin: 0;
}

.icon_profile {
  margin-right: 7px;
  width: 12px;
  height: 14px;
  background-image: url('../../images/icon_profile.svg');
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .header__nav-item {
    margin-left: 14px;
  }

  .header__nav-item_registration {
    width: 64px;
    height: 16px;
    font-size: 10px;
    margin-left: 14px;
  }

  .header__nav-item_login {
    width: 54px;
    height: 26px;
    font-size: 10px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__nav-profile {
    width: 44px;
    height: 44px;
    background-image: url('../../images/icon_menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    border: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__nav-profile {
    width: 40px;
    height: 43px;
    background-image: url('../../images/icon_menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    border: none;
  }
}
