.footer {
  margin: 0 auto;
  width: 1280px;
  height: 172px;

}

.footer__text {
  margin: 0;
  margin-left: 70px;
  width: 1140px;
  padding-top: 79px;
  padding-bottom: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
  border-bottom: 1px solid #E8E8E8;
}

.footer__nav {
  margin: 0 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__author {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.footer__links {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
}

.footer__link-item {
  margin: 0;
  margin-left: 20px;
  list-style-type: none;
}

.footer__link {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.footer__link:visited:active:hover {
  color: #000000;
}

@media screen and (max-width: 1480px) {
  .footer {
      max-width: 1480px;
  }
}

@media screen and (max-width: 1280px) {
  .footer {
      max-width: 1280px;
  }

}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 768px;
  }
  .footer__text {
    max-width: 708px;
    margin-left: 0;
  }
  .footer__nav {
    margin: 0;
    max-width: 708px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
      max-width: 768px;
  }
}