.popup__error_visible {

  display: block;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  text-align: left;
  position: relative;
  top: -24px;
}

@media screen and (min-width: 320px) and (max-width: 882px) {
  .popup__error_visible {
    margin-left: 20px;
    width: 200px;
  }
}
